@page
@model FrogMusicFest.ONamaModel
@{
    ViewData["Title"] = "O Nama";
}
<h2 class="text-center text-secondary font-italic">Frog Music Fest - Žabalj @DateTime.Now.Year</h2>
<div class="row">


    <div class="col-md-12 ">
        <div class="story story-prvi">
            <figure class="story__shape">
                <img src="~/images/concert-984276_640.jpg" alt="CEO about fest" class="story__img">
            </figure>
            <div class="story__text">
                <h3 class="kumova-klasa">
                    Djordje Lelovac<br />
                    <span class="text-secondary font-weight-bold">CEO of Frog Music Fest</span>
                </h3>
                <p class="kumova-klasa">Ovde se moj kumara iskenja za sve pare. Vestibulum id dolor vel massa consectetur porta. Vivamus fermentum fringilla elit. Curabitur pharetra ipsum sed auctor cursus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id dolor vel massa consectetur porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 ">
        <div class="story story-drugi">
            <figure class="story__shape">
                <img src="~/images/concert-984276_640.jpg" alt="CEO about fest" class="story__img">
            </figure>
            <div class="story__text">
                <h3 class="kumova-klasa">
                    Djordje Lelovac<br />
                    <span class="text-secondary font-weight-bold">CEO of Frog Music Fest</span>
                </h3>
                <p class="kumova-klasa">Ovde se moj kumara iskenja za sve pare. Vestibulum id dolor vel massa consectetur porta. Vivamus fermentum fringilla elit. Curabitur pharetra ipsum sed auctor cursus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id dolor vel massa consectetur porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

</div>

