@page
@model FrogMusicFest.EditModel

@{
    ViewData["Title"] = "Izmeni";
}

<h1>Izmeni</h1>

<h4>Izvodjač</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Izvodjac.Id" />
            <div class="form-group">
                <label asp-for="Izvodjac.Naziv" class="control-label"></label>
                <input asp-for="Izvodjac.Naziv" class="form-control" />
                <span asp-validation-for="Izvodjac.Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Izvodjac.VrstaMuzike" class="control-label"></label>
                <input asp-for="Izvodjac.VrstaMuzike" class="form-control" />
                <span asp-validation-for="Izvodjac.VrstaMuzike" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Izvodjac.DanNastupa" class="control-label"></label>
                <input asp-for="Izvodjac.DanNastupa" class="form-control" />
                <span asp-validation-for="Izvodjac.DanNastupa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Izvodjac.VremeNastupa" class="control-label"></label>
                <input asp-for="Izvodjac.VremeNastupa" class="form-control" />
                <span asp-validation-for="Izvodjac.VremeNastupa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Nazad na listu Izvodjača</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
